{% extends "template.html" %}
{% block content %}
<script>
    // Función para calcular las retenciones basadas en el monto
    function calcularRetenciones(monto) {
        // Supongamos que las retenciones son el 10% del monto
        return monto * 0.1;
    }
</script>

<h2 class="text-white">Lista de personas</h2>
<div class="booking-form-body">
    <a href="{{ url_for('router.ver_guardar') }}" class="btn btn-danger">AGREGAR</a>
    <table id="tabla" class="table text-white">
        <thead>
            <th>Nro</th>
            <th>Boys</th>
            <th>dni</th>
            <th>Retenciones</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.apellidos }} {{ item.nombre }}</td>
                <td>{{ item.dni }}</td>
                <td id="retenciones-{{ item.id }}"></td>
                <td>
                    <a href="{{ url_for('router.ver_editar', pos=item.id) }}" class="btn btn-info">MODIFICAR</a>
                </td>
            </tr>
            <script>
                // Calcular y mostrar las retenciones para cada persona
                var monto = {{ item.monto }};  // Obtener el monto de la persona desde los datos del servidor
                var retenciones = calcularRetenciones(monto);
                document.getElementById("retenciones-{{ item.id }}").innerText = retenciones.toFixed(2);
            </script>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
